.auth_form {
  border: solid 2px white;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.auth_title {
  margin-bottom: 20px;
}

.auth_input_container {
  width: 400px;
  margin-top: 20px;
}

.auth_label {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.auth_svg {
  width: 32px;
  height: 32px;
}

.auth_svg_none {
  stroke: rgb(156, 156, 156);
  fill: none;
  width: 32px;
  height: 32px;
}

.auth_input {
  width: 250px;
  height: 50px;
  padding: 0 20px;
  border-radius: 6px;
  border: none;
}

.auth_button {
  margin: 40px 0;
  width: 150px;
  height: 50px;
  background-color: rgb(29, 29, 29);
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: ease 0.2s;
  &:hover {
    background-color: rgb(40, 40, 40);
    transition: ease 0.2s;
  }
  &:active {
    background-color: rgb(54, 54, 54);
  }
}

.auth_text {
  font-weight: lighter;
}

.auth_navigate {
  text-decoration: none;
}
